:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #3e4049;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.results-list {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.results-list li {
  padding: 10px;
  cursor: pointer;
}

.results-list li:hover {
  background: #f0f0f0;
}

.weather-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.history-container {
  margin-top: 30px;
}

.history-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.history-item {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.history-item:hover {
  background: #f5f5f5;
}

.history-item span {
  font-size: 12px;
  color: gray;
}

.history-item strong {
  color:#3e4049;
}

.history-container button {
  margin-bottom: 15px;
}

.forecast-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  overflow-x: auto;
}

.forecast-card {
  min-width: 120px;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.today-weather {
  margin-top: 20px;
}

.dark .today-weather h1, h2 {
  color: white;
}

.app {
  min-height: 100vh;
  background: #f0f2f5;
  color: #111;
  transition: all 0.3s ease;
  padding: 20px;
}

.dark {
  background: #121212;
  color: white;
}

.dark h1 {
  color: white;
}

.weather-card {
  background: white;
  color: black;
  transition: all 0.3s ease;
}

.weather-card h2 {
  color:#3e4049;
}

.dark .weather-card h2 {
  color:white;
}

.dark .weather-card {
  background: #1e1e1e;
  color: white;
}

.history-item {
  background: white;
  color: black;
}

.dark .history-item {
  background: #1f1f1f;
  color: white;
}

.dark .history-list strong {
  color: white;
}

.forecast-card {
  background: #f7f7f7;
  color: black;
}

.dark .forecast-card {
  background: #2a2a2a;
  color: white;
}

input {
  background: white;
  color: black;
}

.dark input {
  background: #2a2a2a;
  color: white;
  border: 1px solid #555;
}

.dark .results-list {
  background: #1e1e1e;
  border-color: #333;
}

.dark .results-list li:hover {
  background: #333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  min-height: 100vh;
  background: #f0f2f5;
  color: #111;
  transition: all 0.3s ease;
  padding-bottom: 40px;
}

.dark {
  background: #121212;
  color: white;
}

.main-header {
  height: 260px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  color: rgb(125, 125, 125);
}

.header-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.header-overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.header-overlay p {
  font-size: 1.1rem;
}

.top-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.theme-btn,
.search-container button,
.clear-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.theme-btn {
  background: #333;
  color: white;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
  padding: 0 20px;
}

.search-container input {
  width: 350px;
  padd
.dark input {
  background: #2a2a2a;
  color: white;
  border: 1px solid #555;
}

.results-list {
  width: 350px;
  margin: 10px auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.results-list li {
  list-style: none;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.results-list li:hover {
  background: #f5f5f5;
}

.dark .results-list {
  background: #1e1e1e;
}

.dark .results-list li:hover {
  background: #333;
}

.status-message,
.error-message {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.error-message {
  color: red;
}

.history-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.history-container h3 {
  margin-bottom: 15px;
}

.history-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.history-item {
  border: none;
  border-radius: 12px;
  padding: 12px 16px;
  background: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.history-item span {
  font-size: 0.8rem;
  margin-top: 5px;
}

.dark .history-item {
  background: #1f1f1f;
  color: white;
}

.clear-btn {
  margin-top: 20px;
  background: crimson;
  color: white;
}

@media (max-width: 768px) {
  .header-overlay h1 {
    font-size: 2rem;
  }

  .search-container {
    flex-direction: column;
    align-items: center;
  }

  .search-container input {
    width: 100%;
    max-width: 350px;
  }

  .results-list {
    width: 90%;
  }
}
}
